<p>
    <a href = "{% url 'learning_logs:index' %}">Learning Log</a>
    <br>
    <a href = "{% url 'learning_logs:topics' %}">List of All Topics</a>
    
    <!-- if the user is authenticated, greet him/her -->
    {% if user.is_authenticated %}
        <br>
        <br>
        Hello, {{ user.username }}.

    <!--if the user is not authenticated, show him the link to log in-->
    {% else %}
        <br>
        <br>    
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}

</p>


{% block content %}{% endblock content %}
