{% load bootstrap4 %}

<!doctype html>
<html lang="en">

<!--the head of the html file doesn't contain any content
    it  just tells the browsere what it needs to know 
    what it needs to know to display the content-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Learning Log</title>

        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

    </head>

<!--the body tag contains all the content users will see on the web page-->
    <body>
        <!--top naviagtion bar -->
        
        <!--this elements contains all the pages's navigation link section-->
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">

            <!--set the app name to appear at the far left of the nav bar
                and make it a link to the home page-->
            
                <a class="navbar-brand" href="{% url 'learning_logs:index' %}">
                    Learning Log
                </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class = "navbar-toggler-icon"></span>
        </button>
                
        </nav>
    </body>