{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h4>Edit entry:</h4>
{% endblock page_header %}

{% block content %}

<!-- making the topic name heading and the link to head back to 
    topic's page-->
    <p>
        <a href="{% url 'learning_logs:topic' topic.id%}">{{ topic }}</a>
    </p>

    <!-- making an html form
        action tell where to send the 
        stored data,
        method tells what type of request
        to send
    -->
    <form action = "{% url 'learning_logs:edit_entry' entry.id %}" method = 'post' class="form">

        <!-- tag for security-->
        {% csrf_token %}

        <!-- tag for diplaying the form
            as paragraph
        -->
        {% bootstrap_form form %}

        {% buttons %}
        <!--button to submit-->
            <button name="submit">Edit entry</button>
        {% endbuttons %}
    </form>

{% endblock content %}