{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h4>Add a new Entry</h4>
{% endblock page_header %}


{% block content %}

    <p>
        <!--making the topic the heading as well as link back 
            to the topic's page-->
        <a href = "{% url 'learning_logs:topic' topic.id %}">{{ topic }}
        </a>
    </p>

    <!-- defining the html form 
        action tells where to send
        the date which is stored
        in the form
        and method tells
        which type of request to 
        make
    -->

    <form action = "{% url 'learning_logs:new_entry' topic.id %}" method ='post' class="form">

        <!-- this token provides security to form
            from unauhtorizeda access. 
            its called Sross-Site Request Forgery 
        -->
        {% csrf_token %}

        <!-- this tag makes django-bootstrap to present 
            all fields on the page in paragraph
            manner 
        -->
        {% bootstrap_form form %}
        {% buttons %}
        <!--this tags makes a button to submit the form-->
            <button name='submit' class="btn btn-primary">Add entry</button>
        {% endbuttons %}
    </form>

{% endblock content %}