{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Log in to your account.</h2>
{% endblock page_header %}

{% block content %}

   <!--django-bootstrap manages credentials validation on its own, 
        no need for additional code -->

    <form class="form" action="{% url 'users:login' %}" method = "post">
    
        <!-- tag for security -->
        {% csrf_token %}

        <!--tag to show the form -->
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Log in</button>
        {% endbuttons %}
        
        <!--tag to redirect user after logging in-->
        <input type="hidden" name="next"
          value="{% url 'learning_logs:index' %}"/>
    </form>

{% endblock content %}